:root {
  --white: #fff;
  --primary: #ff8426;
  --primary-hover:  #ff9b4e;
  --secondary: #785e4d;
  --optional: #f2eee3;
  --base: #f2eee3;
}

/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #000;
  outline: none;
}

p {
  line-height: 1.5;
}

.container {
  padding: 0 16px;
  margin: 0 auto;
  width: 100%;
}
/* End of Global */

/* Navbar */
.navbar {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  transition: all 0.5s ease;
}

.navbar:hover {
  background-color: var(--primary);
}

.navbar:hover .navbar-btn {
  border-color: var(--white) !important;
}

.navbar > .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar .navbar-logo {
  font-size: 32px;
  color: var(--white);
}

.navbar .navbar-menu {
  display: flex;
  justify-content: space-between;
}

.navbar .navbar-menu .navbar-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  height: 100%;
}

.navbar .navbar-menu .navbar-list .navbar-link {
  margin: 18px 18px 10px;
  padding-bottom: 4px;
  display: block;
  color: var(--white);
  border-bottom: 3px solid transparent;
  transition: all 0.4s ease;
}

.navbar .navbar-menu .navbar-list .navbar-link:hover {
  border-bottom: 4px solid var(--white);
}

.navbar .navbar-menu .navbar-btn {
  display: block;
  padding: 0.5rem 1.5rem;
  margin: 0.5rem 0 0.5rem 1rem;
  outline: none;
  color: var(--white);
  font-weight: 500;
  background-color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 4px;
  transition: all 0.4s ease;
}

.navbar .navbar-menu .navbar-btn:hover {
  color: var(--primary);
  background-color: var(--white);
  border-color: var(--white);
}
/* End of Navbar */

/* Banner */
.banner {
  height: 100vh;
  background-image: url("../img/banner.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

.banner .banner-text {
  width: 500px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.banner .banner-text .banner-title {
  color: var(--white);
  font-size: 46px;
  line-height: 1.4;
  margin-bottom: 24px;
}

.banner .banner-text .banner-btn {
  padding: 0.5rem 36px;
  color: var(--white);
  font-size: 24px;
  font-weight: 500;
  background-color: var(--primary);
  border-radius: 4px;
  transition: all 0.3s ease;
}

.banner .banner-text .banner-btn:hover {
  background-color: var(--primary-hover);
}
/* End of Banner */

/* Introduction */
.introduction {
  padding: 48px 0;
  background-color: var(--base);
}

.introduction > .container {
  display: flex;
  flex-flow: row wrap;
}

.introduction .introduction-img {
  width: 50%;
}

.introduction .introduction-img  img{
  width: 80%;
  border-radius: 4px;
}

.introduction .introduction-content {
  width: 50%;
  padding-top: 100px;
  color: var(--secondary);
}

.introduction .introduction-content .introduction-title {
  font-size: 28px;
  margin-bottom: 32px;
  color: var(--primary);
}
/* End of Introduction */

/* Destination */
.destination {
  padding: 48px 0;
  background-color: var(--secondary);
}

.destination .destination-title {
  color: var(--white);
  font-size: 28px;
  text-align: center;
  margin-bottom: 48px;
}

.destination .card-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.destination .card {
  width: 450px;
  background-color: var(--optional);
  border-radius: 4px;
}

.destination .card .card-img {
  width: auto;
  height: 300px;
  overflow: hidden;
}

.destination .card .card-img img {
  width: 450px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.destination .card .card-content {
  padding: 24px;
}

.destination .card .card-content .card-text {
  font-size: 16px;
}

.destination .card .card-btn {
  margin: 24px 0 0;
  padding: 1rem 0;
  width: 100%;
  display: block;
  outline: none;
  text-align: center;
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  background-color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 4px;
  transition: all 0.4s ease;
}

.destination .card .card-btn:hover {
  cursor: pointer;
  color: var(--primary);
  border-color: var(--primary);
  background-color: var(--white);
}
/* End of Destination */

/* Poster */
.poster {
  position: relative;
  height: 700px;
  text-align: center;
}

.poster .poster-img {
  width: 100%;
  background-image: url("../img/poster.jpg");
  background-position: center;
  background-size: cover;
  height: inherit;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.poster .poster-img::after {
  content: "";
  width: 100%;
  height: inherit;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
}

.poster .poster-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: var(--white);
}

.poster .poster-content .poster-title {
  text-transform: uppercase;
  margin-bottom: 16px;
}

.poster-btn {
  margin: 10px 0;
  padding: .5rem 36px;
  display: inline-block;
  color: var(--white);
  background-color: var(--primary);
  outline: none;
  font-size: 24px;
  font-weight: 500;
  border: 1px solid var(--primary);
  border-radius: 4px;
  transition: all 0.3s ease;
}

.poster-btn:hover {
  cursor: pointer;
  background-color: var(--primary-hover);
}
/* End of Poster */

/* Footer */
footer {
  color: var(--secondary);
  padding: 36px 0;
  background-color: var(--base);
  border-top: 2px solid var(--white);
}

footer > .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

footer .footer-list a {
  text-decoration: none;
  display: block;
  color: var(--secondary);
  margin-right: 25px;
  padding-bottom: 5px;
  font-size: 12px;
}

footer .footer-media p {
  text-align: center;
  margin-bottom: 16px;
}

footer .footer-media .footer-icon .fa {
  margin: 0 8px;
  padding: 5px;
  font-size: 18px;
  color: var(--secondary);
  text-decoration: none;
}

footer .footer-list .footer-list-title {
  margin-bottom: 10px;
  font-weight: 500;
}

.footer-line {
  width: 100%;
  height: 20px;
  background-color: var(--primary);
}
/* End of Footer */

/* ================================ */

/* Responsive */
@media (min-width: 1200px) {
  .container {
    max-width: 1536px;
  }
}

@media (max-width: 1200px) {

  /* Banner */
  .banner {
    background-size: initial;
  }

  .banner .banner-text {
    width: inherit;
    text-align: center;
    left: 0;
  }

  .banner .banner-title {
    width: 100%;
    display: block;
    font-size: 36px !important;
  }
  /* End of Banner */

  /* Introduction */
  .introduction > .container {
    flex-direction: column;
  }

  .introduction .introduction-img {
    margin-bottom: 16px;
    width: 100%;
  }

  .introduction .introduction-img img {
    width: 100%;
  }

  .introduction .introduction-content {
    margin: 0;
    padding-top:0;
    width: 100%;
  }
  /* End of Introduction */

  /* Destination */
  .destination .card {
    display: block;
    width: 100%;
    margin: 0 0 36px;
  }

  .destination .card .card-img {
    height: 600px;
  }

  .destination .card .card-img img {
    width: 100%;
  }
  /* Detination */
}

@media (max-width: 480px) {
  
  /* Navbar */
  .navbar .navbar-menu {
    width: 100%;
    text-align: center;
  }

  /* End of Navbar */

  /* Destination */
  .destination .card .card-img {
    height: 300px;
  }

  .destination .card .card-content .card-text {
    font-size: 14px;
  }
  /* End of Destination */

  /* Footer */
  footer {
    padding: 24px 0 12px;
    height: 100%;
  }

  .footer-flex {
    flex-direction: column;
  }

  footer .footer-logo {
    order: 1;
    width: 50%;
    margin-bottom: 16px;
  }

  footer .footer-list {
    order: 2;
    width: 50%;
    text-align: right;
  }
  
  footer .footer-list a {
    margin-right: 0;
  }

  footer .footer-media {
    order: 3;
    margin-top: 16px;
    width: 100%;
    height: 100px;
  }

  footer .footer-media .footer-icon {
    text-align: center;
  }

  footer .footer-line {
    position: absolute;
    bottom: 0;
  }
  /* End of Footer */
}

@media (max-width: 400px) {
  /* Navbar */

  .navbar .navbar-menu {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar .navbar-menu .navbar-btn {
    display: none;
  }
  /* End of Navbar */
}